body {
    background-color: rgb(179, 140, 12);
}

.hide {
    display: none;
}

.unhide {
    display: block;
}

table {
    border: 4px solid black;
    border-radius: 5px;
}

th {
    border: 2px solid black;
    border-radius: 5px;
}

td {
    border: 1px solid black;
    border-radius: 5px;
}