body {
    background-color: #25284b;
    color: rgb(214, 214, 214);
}

.hide {
    display: none;
}

.unhide {
    display: block;
}

table, th, td {
    padding: 10px;
}
table { 
    background-color: #25284b;
}

th, td {
    background-color: #2d325a;
    border: 5px solid #25284b;
    border-radius: 10px;
    border-collapse: collapse;

}
.ipt-group, .opt-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ipt-group input {
    margin: 4px;
}

.calendar {
    background-color: transparent;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 3px;
    color: rgb(214, 214, 214);
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.middle {
    display: flex;
    align-items: center;
    justify-content: center;
}